{% extends "base.html" %}
{% load static %}
{% block title %}About Me{% endblock %}
{% block content %}
    <div class="container">
        <div class="row m-5 border border-5 rounded">
            <div class="col-sm-4 py-2 d-flex align-items-center" style="background:#c9c9c9">
		    <img class="rounded mx-auto d-block" width="300"src="{{ my_info.image.url }}" alt="A picture of me">
            </div>
            <div class="col-sm-8 p-5" style="background:#dfdfdf">
                <h1>About Me</h1>
                <p>
		{{ my_info.introduction }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
