<div class="container mt-auto">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">Portfolio</span>
        </div>
        <ul class="nav col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <li class="ms-3"><a class="fa-brands fa-linkedin fa-2xl" href="#"></a></li>
          <li class="ms-3"><a class="fa-brands fa-github fa-2xl" href="#"></a></li>
          <li class="ms-3"><a class="fa-brands fa-itch-io fa-2xl" href="#"></a></li>
        </ul>
	<ul class="nav col-md-4 justify-content-end">
		<li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">About Me</a></li>
		<li class="nav-item"><a href="{% url 'selected_works' %}" class="nav-link px-2 text-muted">Selected Works</a></li>
		<li class="nav-item"><a href="{% url 'projects' %}" class="nav-link px-2 text-muted">Projects</a></li>
        </ul>
    </footer>
</div>
