{% load pages_context_processors %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    {% get_my_info as my_info %}
    <a class="navbar-brand ps-2" href="{% url 'index' %}">{{ my_info.first_name }} {{ my_info.last_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'projects' %}" aria-haspopup="true" aria-expanded="false">
                    Projects &#9776;
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% get_dropdown_projects as projects %}
                    {% for project in projects %}
                        <a class="dropdown-item" href="{% url 'project_detail' project.pk %}">{{ project.name }}</a>
                    {% endfor %}
                    <a class="dropdown-item" href="{% url 'projects' %}">More...</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end pr-5" id="navbarSupportedContent">
        <a href="{% url 'contact_me' %}" class="btn contactMe mx-3">Contact Me</a>
    </div>
</nav>
