<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand ps-2" href="{% url 'index' %}">About Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
	      <a class="nav-link" href="{% url 'selected_works' %}">Selected Works</a>
      </li>
      <li class="nav-item dropdown">
	      <a class="nav-link" href="{% url 'projects' %}" aria-haspopup="true" aria-expanded="false">
          Projects &#9776;
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	    <a class="dropdown-item" href="{% url 'web_dev' %}">WebDev</a>
	    <a class="dropdown-item" href="{% url 'open_source' %}">Open Source Contributions</a>
	    <a class="dropdown-item" href="{% url 'game_dev' %}">Personal Projects</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
