{% extends 'base.html' %}
{% block title %} {{ project.name }} {% endblock %}
{% block content %}
    {% csrf_token %}
<div class="container">
        <div class="row m-5 border border-5 rounded">
            <a href="{{ project.link }}" class="col-sm-4 py-2 d-flex align-items-center" style="background:#c9c9c9">
    	        <img class="rounded m-auto d-block" width="300"
    		    src="{{ project.image.url }}"
    		    alt="Generic 'No Image Found' Text">
            </a>
            <div class="col-sm-8 px-5 py-2" style="background:#dfdfdf">
		    <a href="{{ project.link }}" class="nav-link" style="display: inline-block;">
		    <h1>{{ project.name }}</h1>
		    <p> Website: {{ project.link }}</p>
		    </a>
		    <h3>Summary</h3>
		    <p>{{ project.brief_description }}</p>
            </div>
        </div>
	{% if project.detailed_description != "" %}
	<div class="row m-5">
		<h3>Background</h3>
		<p>{{ project.detailed_description|linebreaks }}</p>
	</div>
	{% endif %}
	{% if project.specific_lesson != "" %}
	<div class="row m-5">
		<h3>Key Take Aways</h3>
		<p>{{ project.specific_lesson|linebreaks }}</p>
	</div>
	{% endif %}
</div>
{% endblock %}
