.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.fa-github {
    color:white;
    text-decoration: none;
}

.fa-itch-io {
    color:black;
    text-decoration: none;
}

.fa-itch-io:hover {
    color:grey;
}

.fa-brands:hover {
	filter: brightness(.6);
}

.emailSubmit {
    background:#acadac;
}
.emailSubmit:hover {
    background:#acadac;
    opacity:.5;
}

.contactLink:Hover {
	color:#acadac;
}
